torch
torchvision
streamlit
sentence-transformers
beautifulsoup4
spacy
requests
scikit-learn
plotly
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
